<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 工厂定义 -->
    <bean id="cftFactory" class="testSpringOne.CftFactory"></bean>
    <!-- 非静态方法 -->
    <bean id="ctfOne" factory-bean="cftFactory" factory-method="InvokeOne"></bean>
    <!-- 静态方法 -->
    <bean id="cftTwo" class="testSpringOne.CftFactory" factory-method="InvokeTwo"></bean>

</beans>



